
        <div class="col-md-3 ">
            <div>
                <a id="landing-btn" class="btn btn-block btn-success" href="#">Donate</a>
            </div>
            <div>
                <a id="landing-btn" class="btn btn-block btn-success" href="#">Volunteer</a>
            </div>
            <div>
                <a id="landing-btn" class="btn btn-block btn-success" href="#">Contact</a>
            </div>
                </div>
            </div>
        </div><!-- div container end -->
    </div><!-- div row end -->
    </body>
    <footer>
        <div class="footer">
        <p>False Copyright © All rights reserved</p>
        <p>Site designed by icylurk</p>
        <p>All characters are fictional works of Kōhei Horikoshi. Uses of name and page are for pure entertainment purposes and no funds were made throughout the course of this project.</p>
        </div>
    </footer>
    
</html>