<% include partials/header.ejs %>
    <div class="container col-md-9 baz">
        <div class="main-text">
            <h3>About Midoriya Izuku</h3>
            <!--<img id="inline_img" src="http://orig07.deviantart.net/a89f/f/2016/229/1/4/deku_the_hero__izuku_midoriya__season_2_render_by_ironoakman-dadd99s.png">-->
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra ante sapien, vitae lacinia libero tincidunt vitae. Proin sit amet ex id ipsum tempor posuere quis vel nisl. Mauris quis sapien turpis. Etiam et semper dolor. Aliquam erat volutpat. Proin imperdiet, est id congue consectetur, nibh diam euismod turpis, eu egestas diam nibh nec diam. Integer justo neque, fermentum at lacus eu, laoreet pharetra augue. Suspendisse non tortor tellus. Vestibulum arcu justo, accumsan sit amet mollis ac, pretium in ipsum. Sed ullamcorper ante in ex ullamcorper, consectetur faucibus metus venenatis. Maecenas lectus nisi, lacinia iaculis enim et, auctor posuere ligula. Aenean maximus nunc dui, in volutpat turpis venenatis vel. Vivamus aliquam enim quis elit pellentesque, at porttitor quam condimentum.<br>
                
                Nullam eget odio convallis massa vestibulum fermentum. Vestibulum suscipit tristique tincidunt. Nullam consequat, nibh sit amet iaculis imperdiet, turpis diam dapibus nisl, vel consequat felis velit et elit. Maecenas ac justo in mi interdum molestie. Nulla eget lectus ut massa porttitor sollicitudin. Donec placerat ante sit amet tortor convallis laoreet. Pellentesque tempus, est non imperdiet faucibus, purus mauris pharetra ligula, quis pulvinar nunc nisi eu nunc. Quisque efficitur ante urna, eu placerat risus faucibus et. Vivamus suscipit nec ipsum at scelerisque. Sed auctor sit amet augue ac pretium. In hac habitasse platea dictumst. Donec fermentum facilisis elit, congue ornare elit ultricies a. Donec auctor tincidunt convallis.<br>
                
                Donec tempor orci a quam molestie, sed porta arcu accumsan. Quisque cursus, ex vitae sodales ornare, nibh diam fringilla mauris, eget lobortis mauris elit ac quam. Proin ultricies arcu ac ligula consectetur semper. Aliquam sit amet enim et risus sollicitudin dapibus vel eget massa. Nam vel interdum tellus, vitae viverra dui. Vivamus id imperdiet turpis. Donec vitae nunc euismod, iaculis enim non, iaculis erat. <br>
            </span>
        </div>
    </div>

<% include partials/footer.ejs %>