<% include partials/header.ejs %>

        <div class="container col-md-9 baz">
            <div class="main-text">
                <h3>Dear classmates of Class 1-A,</h3>
                <img id="inline_img" src="http://orig07.deviantart.net/a89f/f/2016/229/1/4/deku_the_hero__izuku_midoriya__season_2_render_by_ironoakman-dadd99s.png">
                <span>
                    I am Midoriya Izuku, I hope to be your Class Representative at U.A. High School.<br><br>
                    We all know that U.A. is the #1 ranked high school for heroes in all of Japan. And the GREATEST hero of all time, ALL MIGHT, graduated from the school. I hope to be the Number #1 hero just like him and save everyone with a smile.<br><br>
                    I have spent years analyzing heroes in my "Hero Analysis for the Future" (currently working on No. 13) in whcih I detail all heroes and their Quirks. I will use this knowledge to help propel our class to be the Number #1 class in all of U.A.<br><br>
                    I greatly appreciate your support!<br>
                </span>
            </div>
        </div>
        

<% include partials/footer.ejs %>