<% include partials/header.ejs %>
<div class="container">
    <header>
        <h2>Welcome to the class representative campaign site for Izuku</h2>    
    </header>
    <body>
        <div class="container ">
            <img id="landing-image" src="http://orig07.deviantart.net/a89f/f/2016/229/1/4/deku_the_hero__izuku_midoriya__season_2_render_by_ironoakman-dadd99s.png" class="rounded float-left">
        </div>
        <div class="container main-text">
            <div class="col-md-8">
                <h3>Dear classmates of Class 1-A,</h3>
                <p>
                    jksdlfjskdlfjl<br>
                    sdklfsjfs<br>
                    sdklfjsldkf<br>
                </p>
            </div>
        </div>
    </body>
</div>

<% include partials/footer.ejs %>